<?php

return [
    'elastic' => [
        'base_url' => 'http://127.0.0.1:9200',
        'index' => 'product',
    ],
    'queries' => [
        'Honda',
        'Ford',
        'Chrysler',
        'BMW',
        'Nissan',
        'Volvo',
        'XC90',
        'RAV4'
    ],
];